<!-- <script setup lang="ts">
  import { quizzes } from "../data/quizzes";
  import { computed, ref, watch } from "vue";
  import { defineProps } from "vue";
  import QuestionView from "../components/QuestionView.vue";
  import QuizSummary from "../components/QuizSummary.vue";

  const props = defineProps<{ quizId: string }>();
  const quiz = computed(() => quizzes.find((q) => q.id === props.quizId));

  const currentQuestion = ref(0);
  const answers = ref<number[]>([]);
  const answered = ref(false);

  function answerQuestion(selectedIdx: number) {
    answers.value[currentQuestion.value] = selectedIdx;
    answered.value = true;
  }
  function nextQuestion() {
    answered.value = false;
    currentQuestion.value++;
  }

  function restart() {
    currentQuestion.value = 0;
    answers.value = [];
    answered.value = false;
  }

  watch(() => props.quizId, restart);
</script> 
 <template>
  <div v-if="quiz">
    <h1>{{ quiz.title }}</h1>
    <div v-if="currentQuestion < quiz.questions.length">
      <QuestionView
        :question="quiz.questions[currentQuestion]"
        :answered="answered"
        :selected="answers[currentQuestion]"
        @answer="answerQuestion"
        @next="nextQuestion"
      />
    </div>
    <QuizSummary
      v-else
      :questions="quiz.questions"
      :answers="answers"
      @restart="restart"
    />
  </div>
  <div v-else>
    <p>Quiz ikke funnet.</p>
  </div>
</template>
 -->

<div>
  @if(quiz()){
  <h1>{{quiz()!.title}}</h1>
  @if(currentQuestion() < quiz()!.questions.length){
  <div>
    <app-question-view
      [question]="quiz()!.questions[currentQuestion()]"
      [answered]="answered()"
      [selected]="answers()[currentQuestion()]"
      (answer)="answerQuestion($event)"
      (next)="nextQuestion()"
    ></app-question-view>
    />
  </div>
  } @else{
  <app-quiz-summary
    [questions]="quiz()!.questions"
    [answers]="answers()"
    (restart)="restart()"
  ></app-quiz-summary>
  } } @else{
  <p>Quiz ikke funnet.</p>
  }
</div>
