div {
  /* display: inline-flex; */
  flex-direction: column;
  align-items: center;
  column-gap: 6px;
}

.day {
  font-size: 230%;
  margin-right: 0px;
}
.day1 {
  /* display: flex; */
  flex-direction: column;
}

.main-div {
  justify-content: start;
}

.top-div {
  display: flex;
  flex-direction: row;
}
.top-div button:last-child {
  margin-left: 2rem;
}

.bottom-div {
  display: flex;
  flex-direction: row;
}
.bottom-div button:last-child {
  margin-left: 2rem;
}
