<div>
  <h2>{{ question.question }}</h2>
  <ul>
    @for(option of question.options; track option; let idx = $index) {
    <li>
      <button [disabled]="answered" (click)="answer.emit(idx)">
        {{ question.options[idx] }}
      </button>
    </li>
    }
  </ul>
  <div [hidden]="!answered">
    <p [hidden]="selected !== question.answer">Riktig!</p>
    <p [hidden]="selected === question.answer">
      Feil. Riktig svar:
      <strong> {{ question.options[question.answer] }} </strong>
    </p>
    <button (click)="next.emit()">Neste spørsmål</button>
  </div>
</div>
