<div>
  <h2>Resultat</h2>
  <p>Du fikk {{correctCount()}} av {{questions.length}} riktige.</p>
  <ul>
    @for (question of questions; track question.question; let idx = $index) {
    <li>
      {{question.question}}<br />
      <small>
        Ditt svar: {{question.options[answers[idx]]}}<br />
        Riktig: {{question.options[question.answer]}}
      </small>
    </li>
    }
  </ul>
  <button (click)="restart.emit()">Spill igjen!</button>
  <br />
  <button>
    <a routerLink="/">Ta en ny quiz</a>
  </button>
</div>
